:root {
  --dark-main: #000;
  --light-main: #fff;
  --feuerrot: #ED1C24;
  --dark-neutral: #282828;
  --light-neutral: #B4B4B4;

  --bubble-size: 71px;

  --navbar-height: 10vh;
  --sidebar-width: 20vw;
  --searchbar-width: 160px;
 
}
body {
  font-size: 12px;
  box-sizing: border-box;
  margin: 0;
  font-family: neuton;
}


/*Navbar.js*/
.frame {
  color: white;
}

.navbar {
  background-color: var(--dark-main);
  height: var(--navbar-height);
}
.nav-name {
  color: var(--light-main);
  font-size: 1.4em;
  display: flex;
  align-items: center;
}
.nav-placeholder {
  width: var(--sidebar-width);
}

.center-alligned {
  align-self: center;
  font-size: 1.4em;
}

/*Sidebar.js*/
.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--dark-main);
  flex-direction: column;
}

.btn-wrapper {
  padding: 10px;
}
/* index.js */
.container {
  display: flex; 
}
.column {
  flex-direction: column;
}
.content {
  z-index: 1;
}

/* COMPONENTS */
/* Bubble.js */
.point {
  position: fixed;
  top: var(--navbar-height);
  left: var(--sidebar-width);
}
.bubble {
  width: var(--bubble-size);
  height: var(--bubble-size);
  /* background-color: var(--light-main); */
  background-color: var(--light-main);
  border-radius: 50%;
}
.bubble-rect {
  width: calc(var(--bubble-size) / 2);
  height:calc(var(--bubble-size) / 2);
  background-color: var(--dark-main); 
}

/* SearchBox.js */
.search-box {
  background-color: var(--dark-neutral);
  color:var(--light-neutral);
  width: var(--searchbar-width);
  align-self: center;
  height: 1.4em;
  border-radius: 1px;
  border: none;
  margin: 5px;
}

/* UnderlinedBtn.js */
.underlined-btn {
  padding-top: 0.2em;
  position: static;
  font-size: 1.8em;
  text-decoration: underline;
  text-align: end;
  transition-duration: 200ms;
}
.underlined-btn:hover {
  cursor: pointer;
  color: var(--feuerrot);
  text-decoration: underline;
  text-align: end;
}