<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Akaya+Kanadaka:regular" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link
        href="{{url_for('static', filename='css/styles.css')}}" 
        type="text/css"
        rel="stylesheet" 
    />
    
    <title>{%block title%} {%endblock%}</title>
</head>
<body>
    <div id="wrap">
        <nav>
            <div class="container" id="navContainer">
                <div class="nav-panel" id="topNavRow">
                    <h1 class="nav-header">134 MDH "Arbitrium" im. Andrzeja Romockiego "Morro" </h1>
                    <a class="container-img" id="bigAContainer" href="{{ url_for('index') }}">
                        <img id="bigA" src="{{url_for('static', filename='img/bigA_red_transparent.png')}}"/>
                    </a>
                    <h1 class="nav-header">placeholder textowy</h1>
                </div>
                <div class="nav-panel" id="bottomNavRow">
                    <a class="nav-panel-item" id="posts" href="posts">aktualności</a>
                    <a class="nav-panel-item" id="about">kim jesteśmy?</a>
                    <a class="nav-panel-item" id="documents">dokumenty</a>
                    <a class="nav-panel-item" id="more">więcej</a>
                </div>
            </div>
        </nav>

        <!-- content section -->
        <div class="container" id="mainContainer">
            {%block content%} 

            {%endblock%}
        </div>
    </div>

    <script
        type="text/javascript"
        src="{{url_for('static', filename='js/main.js') }}">
    </script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0" nonce="h1xoYrYj"></script>
</body>
</html>