<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Akaya+Kanadaka:regular" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link
        href="{{url_for('static', filename='css/styles.css')}}" 
        type="text/css"
        rel="stylesheet" 
    />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script
        type="module"
        src="{{url_for('static', filename='js/index.js') }}">
    </script>

    <title>134 Wita!</title>
</head>
<body>

    <div id="wrap">
        <nav>
            <div class="container" id="navContainer">
                <div class="nav-panel left" >
                    <a class="nav-panel-item" id="home" href="/" data-link>home</a>
                </div>
                <div class="nav-panel right" >
                    <a class="nav-panel-item" id="posts" href="/posts" data-link>aktualności</a>
                    <a class="nav-panel-item" id="about" href="/about" data-link>o nas</a>
                    <a class="nav-panel-item" id="documents" href="/documents" data-link>dokumenty</a>
                    <a class="nav-panel-item" id="more" href="/more" data-link>więcej</a>
                </div>
            </div>
        </nav>
        <div class="container" id="app">

        </div>
        <footer>
            <div id="footer">created by wayson14</div>
        </footer>
    </div>
</body>
</html>