<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Akaya+Kanadaka:regular" rel="stylesheet" />
    <link
        href="{{url_for('static', filename='css/styles.css')}}" 
        type="text/css"
        rel="stylesheet" 
    />
    
    <title>134 Arbitrium</title>
</head>
<body>
    <nav>
        <div class="container" id="navContainer">
            <div class="nav-panel" id="topNavRow">
                <h1 class="nav-header">134 MDH "Arbitrium" im. Andrzeja Romockiego "Morro" </h1>
                <img id="bigA" src="{{url_for('static', filename='img/bigA_red_transparent.png')}}"/>
                <h1 class="nav-header">placeholder textowy</h1>
            </div>
            <div class="nav-panel" id="bottomNavRow">
                <a class="nav-panel-item" id="home">Home</a>
                <a class="nav-panel-item" id="więcej">Home</a>
                <a class="nav-panel-item" id="zbiórki">Home</a>
                <a class="nav-panel-item" id="posty">Home</a>
            </div>
            
        </div>
        
    </nav>
    
    <script
        type="text/javascript"
        src="{{url_for('static', filename='js/main.js') }}">
    </script>
</body>
</html>