{% extends "base.html.jinja" %}

{% block title %}Posts 134{% endblock %}

{% block content %}
<div class="fb-page" data-href="https://www.facebook.com/134arbitrium/" data-tabs="timeline" data-width="500" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/134arbitrium/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/134arbitrium/">134 MDH &quot;Arbitrium&quot; im. Andrzeja Romockiego &quot;Morro&quot;</a></blockquote></div>
{% endblock %}